<!DOCTYPE html>

<!-------------------- HTML SECTION -------------------->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-------------------- HEAD SECTION -------------------->
  <head>
    <th:block th:insert="fragments/head :: head"/>
  </head>

  <!-------------------- BODY SECTION -------------------->
  <body>

    <!-------------------- NAVBAR SECTION -------------------->
    <th:block th:insert="fragments/navbar :: navbar"/>

    <!-------------------- PANEL SECTION -------------------->
    <div class="container card mt-4">
      <div class="card-body">
        <h5 class="row justify-content-center font-weight-bold mb-3"
            th:text="${recipe.description}"/>
        <div class="row justify-content-center">
          <a class="btn info-color white-text mb-4" href="#" role="button"
             th:href="@{'/recipe/' + ${recipe.id} + '/image'}">
            Change Image
          </a>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p th:text="${'Preparation Time: ' + (recipe.prepTime) +  '  Min'}"/>
          </li>
          <li class="list-group-item">
            <p th:text="${'Difficulty: ' + (recipe.difficulty)}"/>
          </li>
          <li class="list-group-item">
            <p th:text="${'Cooktime: ' + (recipe.cookTime  +  '  Min')}"/>
          </li>
          <li class="list-group-item">
            <p th:text="${'Servings: ' + (recipe.servings)}"/>
          </li>
          <li class="list-group-item">
            <p th:text="${'Source: ' + (recipe.source)}"/>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-center">
              <a class="btn info-color white-text mb-4"
                 href="#" role="button" th:href="@{recipe.url}">
                View Original
              </a>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="container card mt-4">
      <div class="card-body">
        <h5 class="row justify-content-center font-weight-bold mb-3">
          Ingredients
        </h5>
        <div class="row justify-content-center">
          <a class="btn info-color white-text mb-4" href="#"
                role="button"
                th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">
          View
        </a>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:each="ingredient : ${recipe.ingredients}"
              th:text="${(ingredient.getAmount() +
                       ' ' + ingredient.uom.getDescription() +
                       ' - ' + ingredient.getDescription())}"/>
        </ul>

      </div>
    </div>

    <div class="container card mt-4">
      <div class="card-body">
        <h3 class="row justify-content-center card-title">
          Directions
        </h3>
        <p th:text="${recipe.directions}"/>
      </div>
    </div>

    <div class="container card mt-4 mb-4">
      <div class="card-body">
        <h3 class="row justify-content-center card-title">
          Notes
        </h3>
        <p th:text="${recipe.notes.recipeNotes}"/>
      </div>
    </div>

    <!-------------------- SCRIPT SECTION -------------------->
    <th:block th:insert="fragments/scripts :: scripts"/>

  </body>
</html>