<!DOCTYPE html>

<!-------------------- HTML SECTION -------------------->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-------------------- HEAD SECTION -------------------->
  <head>
    <th:block th:insert="fragments/head :: head"/>
  </head>

  <!-------------------- BODY SECTION -------------------->
  <body>

    <!-------------------- NAVBAR SECTION -------------------->
    <th:block th:insert="fragments/navbar :: navbar"/>

    <!-------------------- PANEL SECTION -------------------->
    <div class="container card mt-4">
      <div class="card-body">
        <h3 class="row justify-content-center card-title">Ingredient</h3>
        <p th:text="${ingredient.amount} + ' '
              + ${ingredient.uom.getDescription()} + ' '
              + ${ingredient.description}"/>
      </div>
    </div>

    <!-------------------- SCRIPT SECTION -------------------->
    <th:block th:insert="fragments/scripts :: scripts"/>

  </body>
</html>
