<!DOCTYPE html>

<!-------------------- HTML SECTION -------------------->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-------------------- HEAD SECTION -------------------->
  <head>
    <th:block th:insert="fragments/head :: head"/>
  </head>

  <!-------------------- BODY SECTION -------------------->
  <body>

    <!-------------------- NAVBAR SECTION -------------------->
    <th:block th:insert="fragments/navbar :: navbar"/>

    <!-------------------- TABLE SECTION -------------------->
    <table
        id="dtMaterialDesignExample"
        class="table table-striped"
        cellspacing="0" width="100%"
    >
      <thead>
        <tr>
          <th class="th-sm">ID</th>
          <th class="th-sm">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${ingredient.id}"/>
          <td
              th:text="${ingredient.amount} + ' '
              + ${ingredient.uom.getDescription()} + ' '
              + ${ingredient.description}"
          />
        </tr>
      </tbody>
    </table>

    <!-------------------- SCRIPT SECTION -------------------->
    <th:block th:insert="fragments/scripts :: scripts"/>

  </body>
</html>
