<!DOCTYPE html>

<!-------------------- HTML SECTION -------------------->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-------------------- BODY SECTION -------------------->
  <body th:fragment="navbar">

    <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color lighten-1">
      <a class="navbar-brand" href="/">
        Tasty Recipes
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbar"
              aria-controls="navbar"
              aria-expanded="false" aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"/>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto mr-4">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>

        <div class="navbar-nav mr-2">
          <i class="fas fa-hamburger white-text fa-3x"></i>
        </div>
      </div>
    </nav>

  </body>
</html>
