<!DOCTYPE html>

<!-------------------- HTML SECTION -------------------->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-------------------- HEAD SECTION -------------------->
  <head>
    <th:block th:insert="fragments/head :: head"/>
  </head>

  <!-------------------- BODY SECTION -------------------->
  <body>

    <!-------------------- NAVBAR SECTION -------------------->
    <th:block th:insert="fragments/navbar :: navbar"/>

    <!-------------------- PANEL SECTION -------------------->
    <div class="container card mt-4">
      <div class="card-body">
        <h3 class="row justify-content-center card-title">404 ERROR - Not Found</h3>
        <p class="row justify-content-center" th:text="${exception.getMessage()}"/>
      </div>
    </div>

  </body>
</html>
