<!DOCTYPE html>

<!-------------------- HTML SECTION -------------------->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!-------------------- HEAD SECTION -------------------->
  <head>
    <th:block th:insert="fragments/head :: head"/>
  </head>

  <!-------------------- BODY SECTION -------------------->
  <body>

    <!-------------------- NAVBAR SECTION -------------------->
    <th:block th:insert="fragments/navbar :: navbar"/>

    <div class="container-fluid mx-5">
      <div class="row">
        <h1>404 ERROR - Not Found</h1>
        <p th:text="${exception.getMessage()}"></p>
      </div>
    </div>

  </body>
</html>
